*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}
body {
    background: linear-gradient(230deg, #30cfd0, #330867);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}

.card{
    background-image: linear-gradient(-167deg, #ebc0fd 0%, #d9ded8 100%);
}
.btn{
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    color: black;
}
.card:hover{
    z-index: 10;
}
.btn:hover{
    color: black;
    scale: 1.2;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }